@import url(variables.css);

body{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.box{
display: flex;
width: 20%;
height: 10rem;
color: #fff;
margin-bottom: 10px;
background:var(--bg-primary)
}

.box:nth-child(3){
background: red;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
flex-shrink: 2;
/* text-align: end; */

/* position: absolute; */
/* left: 50px; */
/* top: 60px; */
}

.box:nth-child(3) span{
  /* margin: auto; */
  color: blue;
  /* align-self: flex-end; */
  
}